body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    opacity: 0.75px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column; /* vertical main axis */
    text-align: center; /* align buttons */
}